<h2>Restaurants</h2>
<ul>
  <% @restaurants.each do |restaurant|%>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
    <br>
    <%= restaurant.category %>
    cuisine
  </li>
  <% end %>
</ul>
<%=  %>
